@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}
.navbar h1 {
  color: #e65014;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #c793a3;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.heading{
  margin-left: 28%;
  width: 40%;
  display: flex;
  font-size: x-large;
  font-weight: bolder;
}

.movieName,.genre{
  display: inline-block;
  margin: 10px;
}
.actor{
  margin: 10px;
}

.addmovie{
  margin-left: auto;
}

.inputbox{
  width: 100%;
  padding: 8px 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 30%;
  margin: 5px;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.container h2{
  font-size: larger;
  font-family: cursive;
  font-weight: bold;
}
.moviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



