@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}
.navbar h1 {
  color: #e65014;
  font-weight: bolder;
  font-size: x-large;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #c793a3;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.heading{
  margin: 15px;
  display: flex;
  font-size: x-large;
  font-weight:bolder;

}

.formDiv{
  display: inline-block;
  width: 30%;
}

.movieName,.genre{
  display: inline-block;
  margin: 10px;
}
.actor{
  margin: 10px;
  font-family:sans-serif;
}

.addmovie{
  margin-left: auto;
}

.inputbox{
  background-color:aliceblue;
  width: 100%;
  padding: 6px 12px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;

}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  border-radius: 8px;
  width: 20%;
  margin: 10px;
  background-color: rgb(207, 223, 236);
}

.cards:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  
}

.container {
  padding: 2px 16px;
}

.movieName{
  font-size: larger;
  font-family: cursive;
  font-weight: bold;
}
.moviesList{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre{
  border-radius: 12px;
  padding: 4px;
  box-shadow: 1px 1px 8px gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card2{
  margin: auto;
  width: 40%;
  transition: box-shadow 0.3s;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.card2:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  
}

.mName{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.vgenre,vreleased,vactor{
  font-size: 14px;
  color: #555;
}
.card-button{
  margin: 5px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.card-button:hover{
  background-color: #0056b3;
}

